* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
@-ms-viewport {
    width: device-width;
}
html {
    box-sizing: border-box;
}
#sec {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

#intro{
    display: flex;
    flex-direction: column;
    background: tomato;
    align-items: center;
    justify-content: center;
    padding: 15%;
}

#intro > h1{
    font-weight: bold;
    font-size: 30px;
}
#intro > p{
    font-size: larger;
}
#links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background:aquamarine;
    position:sticky;
    top: 0;
    height: 80px;
}

#links a{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
    margin-left: 40px;
    padding: 8px;
    border-radius: 8px;
    transition: .5s ease background-color;
}
#links a:hover{
    color: white;
    background-color: darkolivegreen;
}
#sec2{
    background-color:khaki;
    padding-bottom: 100px;
}
#projects{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto;
    row-gap: 60px;
    justify-content: space-evenly;
    margin-top: 80px;
     
}
.tiles {
    width: 250px;
    height: 250px;
    border-radius: 4px;
    transition: all .5s ease-out;
}
.tile :hover{
    transform: scale(1.2);
}
.proj1{
    background: url('./Images/rpc-icons.png');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}
.proj2{
    background: url('./Images/Landing-page.png');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}


.icons a{
    text-decoration: none;
}

.icons {
    display: flex;
    
    background-color: gol;
    height: 150px;    
}
.icons a{
    margin-left: 30px;
}
.contact .icons{
    padding-left: 50px;
}

.contact {
    display: flex;
    flex: 0 1 30%;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: dodge;
    height: 250px;
}
.contact h2{
    padding-left: 80px;
}
.label{
    display: none;
}

.form1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 1 40%;
    height: 280px;
    
}
.form1 h2{
    padding-left: 40px;
}
.conts1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
}
.field{
    margin-top: 15px;
}
.conts1 > .field, .press {
    padding-left: 40px;
}
.conts2{
    display: flex;
}
.conts2 div{
    margin-left: 40px;
}

#footer{
    background-color: #f6f6f6;
    padding-bottom: 15.5%;
}
#foot {
    display: flex;
    justify-content: space-evenly;
    height:400px;
}
#footer > #foot {
    padding-top: 60px;
}

.fa-brands{
    font-size:xx-large;
}
input[type="text"],
input[type="email"] {
    height: 3em;
}
input[type="text"],
input[type="email"],
textarea {
    border: none;
    border-bottom: solid 1px #c9c9c9;
    outline: 0;
    background: transparent;
}
textarea{
    width: 78%;
    resize: none;
    min-height: 3.5em;
}
.press button{
    padding: 12px;
    border-radius: 10px;
    border: solid #c9c9c9;
    transition: .5s ease background-color;
}
.press button:hover{
    color: white;
    background-color: darkolivegreen;
    border: solid white;
}



