@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Great+Vibes&family=Josefin+Sans:wght@600&family=Lato:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;

}
#sec {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
}

#intro{
    display: flex;
    flex-direction: column;
    background: url(../MyPortfolio/Images/balance2.jpg) no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: center;
    padding: 15%;
    line-height: 50px;
}

#intro > h1{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}

#intro > h2{
    font-family: 'Josefin Sans', sans-serif;
    font-style: italic;
    font-size: 30px;
}
#intro > p{
    font-size: larger;
    font-weight: bold;
}
#links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background:aquamarine;
    position:sticky;
    top: 0;
    height: 80px;
    z-index: 1;
}

#links a{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
    margin-left: 40px;
    padding: 8px;
    border-radius: 8px;
    transition: .5s ease background-color;
}
#links a:hover{
    color: white;
    background-color: darkolivegreen;
}
#sec2{
    background-color:khaki;
    padding-bottom: 100px;
}
#projects{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 60px;
    justify-items: center;
    margin-top: 80px;
     
}
.tiles{
    width: 250px;
    height: 200px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: ;
}

.code{
    color: white;
    width: 250px;
    padding: 16px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: rgba(0, 0, 0, 0.48);
    text-align: center;
    display: none;
    text-decoration: none;
}

.tile{
    transition: all .5s ease-out;
    border-radius: 4px;
    width: 250px;
    height: 250px;
}

.tile:hover .code{
    display: block;
}
.tile:hover{
    transform: scale(1.2);
    z-index: 0;
}
.proj18{
    background: url('./Images/books.jpg');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}
.proj17{
    background: url('./Images/Clock.png');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}
.proj16{
    background: url('./Images/ReactCalc.png');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}
.proj15{
    background: url('./Images/Drum_Machine.jpg');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}
.proj14{
    background: url('./Images/markdwn3.jpg');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}
.proj13{
    background: url('./Images/quotes.jpg');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}
.proj12{
    background: url('./Images/calculator.jpg');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}
.proj11{
    background: url('./Images/Sketch.jpg');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}
.proj10{
    background: url('./Images/Dash.png');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}
.proj9{
    background: url('./Images/Holidays.jpg');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}
.proj8{
    background: url('./Images/rpc-icons.png');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}
.proj7{
    background: url('./Images/Piano.png');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}
.proj6{
    background: url('./Images/Landing-page.png');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}
.proj5{
    background: url('./Images/Tribute-img.png');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}
.proj4{
    background: url('./Images/Survey-form.png');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}
.proj3{
    background: url('./Images/Trombone-sale.png');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}
.proj2{
    background: url('./Images/Tech-doc.png');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}
.proj1{
    background: url('./Images/portfolio-site.png');
    background-size: 250px 250px;
    background-repeat: no-repeat;
}


@media only screen and (max-width: 1024px){
    #projects{
      grid-template-columns: repeat(3, 1fr);
    }
  }
@media only screen and (max-width: 800px){
    #projects{
      grid-template-columns: repeat(2, 1fr);
    }
  }
@media only screen and (max-width: 536px){
    #projects{
      grid-template-columns: repeat(1, 1fr);
    }



.icons a{
    text-decoration: none;
}

.icons {
    display: flex;
    
    background-color: gol;
    height: 150px;    
}
.icons a{
    margin-left: 30px;
}
.contact .icons{
    padding-left: 50px;
}

.contact {
    display: flex;
    flex: 0 1 30%;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: dodge;
    height: 250px;
}
.contact h2{
    padding-left: 80px;
}
.label{
    display: none;
}

.form1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 0 1 40%;
    height: 280px;
    
}
.form1 h2{
    padding-left: 40px;
}
.conts1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
}
.field{
    margin-top: 15px;
}
.conts1 > .field, .press {
    padding-left: 40px;
}
.conts2{
    display: flex;
}
.conts2 div{
    margin-left: 40px;
}

#footer{
    background-color: #f6f6f6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#foot {
    display: flex;
    justify-content: space-evenly;
    height:400px;
}
@media (max-width: 800px) {
    #foot {
      flex-direction: column;
      align-items: center;
      margin-bottom: ;
    }
#footer > #foot {
    padding-top: 60px;
}
#footer2 > p{
    text-align: center;

}
.fa-brands{
    font-size:xx-large;
}
input[type="text"],
input[type="email"] {
    height: 3em;
}
input[type="text"],
input[type="email"],
textarea {
    border: none;
    border-bottom: solid 1px #c9c9c9;
    outline: 0;
    background: transparent;
}
textarea{
    width: 78%;
    resize: none;
    min-height: 3.5em;
}
.press button{
    padding: 12px;
    border-radius: 10px;
    border: solid #c9c9c9;
    transition: .5s ease background-color;
}
.press button:hover{
    color: white;
    background-color: darkolivegreen;
    border: solid white;
}


